<div class="row">
    <div class="col-md-2" *ngFor="let book of books | async">
        <div class="thumbnail">
            <div class="thumbnail-img">
                <img *ngIf="book.imageUrl"
                     [src]="book.imageUrl"
                     [alt]="book.name">
            </div>
            <div class="caption">
                <h4 [title]="book.name">Name: {{book.name}}</h4>
                <p>Author: {{book.author}}</p>
                <p>Release Date: {{book.releaseDate}}</p>
                <p>Genre: {{book.genre}}</p>
                <p>Specifications: {{book.specifications}}</p>
                <div class="thumbnail-bottom">
                    <div class="btn-group">
                        <a [routerLink]="book.id"
                           class="btn btn-info btn-sm"
                           role="button"
                           title="book details">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </a>
                        <button class="btn btn-danger btn-sm"
                                role="button"
                                title="remove book"
                                (click)="removeBook(book.id)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>

                    <span class="pull-right">
                        Price: {{book.price | currency: 'EUR'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>