#addBookMd > .modal-dialog {
    width:900px;
}

.radio {
    display: inline-block;
}

.addBookForm {
    margin-top:10px;
}

.modal-footer {
    border-top:0px;
}

@media screen and (max-width: 1023px){
    #addBookMd > .modal-dialog {
        width:auto;
    }
}